* { box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
  padding: 14px 16px;
}

a:hover {
  background-color: green;
  color: white;
}

.topnav a {
  float: left; display: block; 
  background-color: rgb(52, 153, 235);
  color: white; text-align: center;
}  

/*
.topnav a.active {
  background-color: rgb(52, 153, 235);
  color: white;

.search-container {
  float: right; 
  background-color: white;
  margin-top: 10px; 
  margin-right: 10px; 
}

#suggestion {
  display: block;
  position: absolute;
  margin-top: 20px;
} 

li {
  text-decoration: none;
  text-align: left;
  list-style-type: none;
}

li:hover { background-color: burlywood;}

button { 
  cursor: pointer; 
  padding: 10px;
}

.search-container input, .search-container button {
  padding: 6px;
  border: none;
} */

section { margin-bottom: 10px; }

#citySearch input {
  background-color: rgb(52, 153, 235);
  color: white;
  border-color: rgba(70, 62, 62, 0.13);
}

#citySearch input:hover{
  background-color: chocolate;
  cursor: pointer;
}
.cityList label {
  margin-right: 24px;
}
#city, #country {
  width: 200px;
}

#homeImage {
  max-width: 400px; 
  height: auto; 
  margin-top: 50px; }

main {
  padding-top: 60px; 
  text-align: center;}

/********************************************/

#map{
  height: 300px;
}

.container {
  background-color: #bbb;
  padding: 10px;
}
.container:nth-child(even) {
  background-color: #ddd;
}

.js-wiki div {
  display: flex;
  flex-direction: column;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub { margin-bottom: 20px;}

.two .sub {
  background-color: black;
}

.js-image {
  text-align: center;
}

.js-image img { max-width: 400px; height:auto}

.js-weather, .js-video h3 {
  color: yellow;
}

.date { color: rgb(138, 111, 111);}

.currentTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.js-video{ 
  color: white;
}

#videoList{
  text-align: left;
  padding: 10px 20px;
}

.video{ display: flex;}

iframe {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.flight {
  text-align: left;
  background-color: teal;
  color: white;
  display: flex;
  margin-bottom: 5px;

}

.summary {
  padding: 15px;
  padding-top: 80px;
  width: 59%;
  background-color: rgba(20, 32, 41, 0.226);
}

.flightFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.booking a {
  padding: 15px;
  background-color: red;
  text-decoration: none;
  color: white;
}

.hidden {display: none}

@media screen and (min-width:800px) {

.info {
  display: flex;
}

.one{
  text-align: left;
  width: 60%;
}
.two {
  width: 40%;
  align-self: flex-start;
}

.flights {
  display: flex;
  flex-wrap: wrap;
}

.flight {
  width: 50%;
}
}